# Framework e Autenticação
streamlit
streamlit-authenticator
bcrypt

# Manipulação de Dados e IA
pandas
numpy
openai
faiss-cpu
sqlalchemy

# Gráficos e Visualização
altair
plotly

# Conectores de Serviços
dropbox
sendgrid
requests
GitPython

# Suporte para Arquivos Excel
openpyxl
xlrd